<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>JOIN PAGE</h2>
    <label for="userName">NAME</label>
    <input id="userName" type="text" name="username"> <br>
    <label for="userId">ID</label>
    <input id="userId" type="text" name="userid"><br>
    <label for="userPw">PASSWORD</label>
    <input id="userPw" type="text" name="userpw"><br>
    <label for="genderF">female</label>
    <input id="genderF" type="radio" name="gender" value="true">
    <label for="genderM">male</label>
    <input id="genderM" type="radio" name="gender" value="false"><br>
</body>
</html>